// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
+font(museo_sans_cyrl_300, museo_sans_cyrl_300)
=reg
	font-family: "museo_sans_cyrl_300", Arial, sans-serif
+font(museo_sans_cyrl_900, museo_sans_cyrl_900)
=bold
	font-family: "museo_sans_cyrl_900", Arial, sans-serif
html
	font-size: 62.5%
body
	position: relative
	+reg
	min-width: 320px
	font-size: 1.6rem
	line-height: 1.6
	position: relative
	background-color: #171718 
	background-image: url(../img/holder.jpg) 
	+cover
	background-attachment: fixed 
	color: #fff 
	text-align: center
	
$main: #febc11
$second: #fefefe

// common blocks
.out
	position: relative
	border: 2rem solid #fff
	padding: 20rem 1rem 10rem
	height: 100vh
	min-height: 58rem
	+vertical
	+rh(580)
		height: auto
	+r(1000)
		height: auto
	+r(768)
		border-width: 1rem
		padding-top: 15rem
.main
	display: inline-block
	vertical-align: middle
	width: 100%
.logo
	position: absolute
	left: 0
	top: 5.7rem
	right: 0
	text-align: center
	+r(768)
		top: 3rem
	img
		+r(768)
			width: auto
			height: 80px
.title
	margin: 0 auto 3.3rem
	font-size: 2.5rem
	+bold
	text-transform: uppercase
	letter-spacing: .5px
	+r(640)
		font-size: 2rem
.field-row
	white-space: nowrap
	font-size: 0
	.field
		display: inline-block
		width: 30rem
		vertical-align: top
		margin-right: 2rem
		&:last-child
			margin-right: 0
			+r(1000)
				margin-right: auto 
		+r(1000)
			display: block
			max-width: 30rem
			width: auto
			margin: 0 auto 2rem 
.input
	display: block
	border: 2px solid #fff
	padding: 0 1.8rem 
	width: 100%
	height: 5rem
	border-radius: 5px 
	background: none
	+reg
	font-size: 1.6rem
	color: #fff
	+placeholder
		color: #fff 
	&:focus
		+placeholder
			+hide-text
.btn-wrap
	margin: 3rem 0 
	text-align: center
.btn
	display: inline-block
	padding: 1.7rem 3rem 1.3rem
	min-width: 17.7rem
	text-align: center
	background: $main
	border-radius: 2.5rem 
	color: #fff
	text-transform: uppercase
	font-size: 2rem
	line-height: 1
	+bold 
	transition: background, color, .3s
	letter-spacing: .5px
	&:hover
		background: $second
		color: $main
	&:active
		background: darken($second, 5%)
.soc
	position: absolute
	bottom: 4.7rem
	left: 0
	right: 0
	a
		display: inline-block
		vertical-align: middle
		margin-right: 0.8rem
		width: 3rem
		height: 3rem
		text-align: center
		line-height: 3rem
		border-radius: 50%
		background: $second
		transition: background .3s
		&:last-child
			margin-right: 0
		&:hover
			background: #fff 
			.icon-tw
				color: #1ab2e8
			.icon-fb
				color: #649cd2
			.icon-gp
				color: #dc5555
			.icon-in
				color: #1a85bc
	.icon
		vertical-align: middle
		color: #202627 
		transition: color .3s
	.icon-tw
		font-size: 1.3rem
	.icon-fb
		font-size: 1.6rem
	.icon-gp
		font-size: 1.5rem
	.icon-in
		font-size: 2.3rem
.window
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 10
	+tr(opacity .3s)
	+vertical
	padding: 2rem 1rem 
	overflow-y: auto
	overflow-x: hidden
	&.is-active
		opacity: 1
		visibility: visible
	&__overlay
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: rgba(#171718, .95) 
	&__in
		position: relative
		z-index: 1
		width: 100%
		display: inline-block
		vertical-align: middle
	.title
		max-width: 100%
.main-title
	line-height: 1.3
	font-size: 3.5rem
	letter-spacing: .5px 
	text-transform: uppercase
	+bold
	+r(640)
		font-size: 2.5rem